In [13]:
import pandas as pd
import numpy as np
import altair as alt
import matplotlib.pyplot as plt
import ppscore as ps
import seaborn as sns

In [33]:
df = pd.read_csv('Haircut_Tip_Amounts.csv.xls')

In [ ]:
df = df.groupby('Culture', as_index=False).count()

In [15]:
df

    Tip amount  Time   Day Culture Married  Age
0            0     5   Fri       I      NM   30
1            1     2   Tue       E      NM   10
2            1     7  Tues       I      NM   35
3            2     5   Mon       I      NM   35
4            2    12   Fri       M      NM   15
..         ...   ...   ...     ...     ...  ...
227         10     1   Sat       W       M   40
228          1    13   Sat       I      NM   10
229          5    14   Sat       W       M   36
230          3    15   Sat       W      NM    8
231          5    16   Fri       I      NM   35

[232 rows x 6 columns]

In [ ]:
df['Tip amount'] = df['Tip amount'].replace({
    '3,5': 4,
    '4,5': 5
})
df['Tip amount']=df['Tip amount'].astype(int)

df['Married'] = df['Married'].replace({
    'Kid': '1',
    'M': 0,
    'NM': 1
})
df['Married']=df['Married'].astype(int)

df['Day'] = df['Day'].replace({
    'mon': 0,
    'Tues': 1,
    'Thurs': 2,
    'Mon': 0,
    'Tue': 1,
    'Wed': 2,
    'Thur': 3,
    'Fri': 4,
    'Sat': 5,
    'Sun': 6
})
df['Day']=df['Day'].astype(int)

df['Culture'] = df['Culture'].replace({
    'I': 0,
    'E': 1,
    'B': 2,
    'W': 3,
    'P': 4,
    'M': 5,
    'A': 6,
    'H': 7,
    'V':8
})
df['Culture']=df['Culture'].astype(int)

In [ ]:
print(df.dtypes)

In [ ]:
df.corr(method='spearman')

In [ ]:
sns.heatmap(df.corr(method='spearman'),annot=True)

In [ ]:
ps.matrix(df)

In [ ]:
sns.heatmap(ps.matrix(df), annot=True)

In [ ]:
df.head()

In [ ]:
#pd.set_option('display.max_rows', None)

In [ ]:
# Tip on Married and Non-Married

df['Married'] = df['Married'].replace({
    'Kid': 'NM'
})

df['Tip amount'] = df['Tip amount'].replace({
    '3,5': 4,
    '4,5': 5
})

#m_nm = df[df.Married.isin(['M','NM'])][['Married','Tip amount']]
df['Tip amount']=df['Tip amount'].astype(int)
df = df.groupby('Married', as_index=False)[['Tip amount']].mean()

alt.Chart(df).mark_bar(size=35).encode(
    x='Married',
    y='Tip amount',
    tooltip=['Tip amount']).properties(width=200)

In [ ]:
# Tip on Days

df['Day'] = df['Day'].replace({
    'mon': 'Mon',
    'Tues': 'Tue',
    'Thurs': 'Thur',
})

df['Tip amount'] = df['Tip amount'].replace({
    '3,5': 4,
    '4,5': 5
})

#m_nm = df[df.Day.isin(['Mon','Tue','Wed','Thur','Fri','Sat','Sun'])][['Day','Tip amount']]
df['Tip amount']=df['Tip amount'].astype(int)
df = df.groupby('Day', as_index=False)[['Tip amount']].mean()

alt.Chart(df).mark_bar(size=35).encode(
    x='Day',
    y='Tip amount',
    tooltip=['Tip amount']).properties(width=600)

In [ ]:
# Tip on Cultrue
df['Tip amount'] = df['Tip amount'].replace({
    '3,5': 4,
    '4,5': 5
})

#m_nm = df[df.Culture.isin(['I','E','B','W','P','M','A'])][['Culture','Tip amount']]
df['Tip amount']=df['Tip amount'].astype(int)
df = df.groupby('Culture', as_index=False)[['Tip amount']].mean()

alt.Chart(df).mark_bar(size=35).encode(
    x='Culture',
    y='Tip amount',
    tooltip=['Tip amount']).properties(width=600)

In [ ]:
# Tip on Time
df['Tip amount'] = df['Tip amount'].replace({
    '3,5': 4,
    '4,5': 5
})

df['Time'] = df['Time'].replace({
    1:13,
    2:14,
    3:15,
    4:16,
    5:17,
    6:18,
    7:19,
    8:20,
})


df['Tip amount']=df['Tip amount'].astype(int)
df = df.groupby('Time', as_index=False)[['Tip amount']].mean()

alt.Chart(df).mark_bar(size=15).encode(
    x='Time',
    y='Tip amount',
    tooltip=['Tip amount','Time']).properties(width=500)

In [26]:
# Tip on Age
df['Tip amount'] = df['Tip amount'].replace({
    '3,5': 4,
    '4,5': 5
})


df['Tip amount']=df['Tip amount'].astype(int)
df = df.groupby('Age', as_index=False)[['Tip amount']].mean()

alt.Chart(df).mark_bar(size=15).encode(
    x='Age',
    y='Tip amount',
    tooltip=['Tip amount','Age']).properties(width=800)

alt.Chart(...)

In [41]:
# Tip on Age
df['Tip amount'] = df['Tip amount'].replace({
    '3,5': 3.5,
    '4,5': 4.5
})
bins= [0,15,30,45,60,85]
labels = ['0-14','15-29','30-44','45-59','60+']

df['Tip amount']=df['Tip amount'].astype(int)
#df = df.groupby('Age')[['Tip amount']].mean()
#df = df.groupby(pd.cut(df['Age'], bins=bins, labels=labels, right=False)).size()
df.groupby(pd.cut(df['Age'], bins=bins, labels=labels, right=False)).agg({'Age': ['size'], 'Tip amount': ['mean']})

       Age Tip amount
      size       mean
Age
0-14    18   3.777778
15-29   39   4.871795
30-44  154   7.415584
45-59   16   6.437500
60+      5   5.800000